@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  scroll-margin: 2em;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.app, .map {
  width: 100%;
  height: 100%;
}

.contacts {
  z-index: 1200;
  position: absolute;
  width: 300px;
  height: 90%;
  background-color: #f1f1f1;
  top: 5vh;
  left: 5vh;
}

button {
  display: block;
  padding: 0.33em 0.66em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background-color: #f33f90;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.2em;
  cursor: pointer;
}

.img_button {
  width: 2em;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_button img {
  height: 100%;
  -webkit-filter: grayscale(1) brightness(3);
          filter: grayscale(1) brightness(3);
}

.log_aside {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1200;
  position: absolute;
  top: 20%;
  right: 5vh;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-shadow: 0px 0px 16px black;
          box-shadow: 0px 0px 16px black;
}

.log_button_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.log_button_group button {
  width: 100%;
  border-radius: 0px;
  background-color: white;
  color: #f33f90;
  border: 1px solid #f33f90;
}

.log_button_group button:nth-of-type(1), .log_button_group button:nth-of-type(2) {
  border-right: none;
}

.log_container {
  width: 300px;
  height: 60vh;
  overflow-y: auto;
  background-color: #f1f1f1;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create_log form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create_log form div {
  width: 90%;
  text-align: center;
}

.create_log form div * {
  margin-bottom: 1em;
}

.create_log form div label {
  display: block;
  text-align: start;
}

.create_log form div input {
  width: 90%;
  font-size: 1.1em;
  outline: #f33f90 1px solid;
  border: none;
  border-radius: 5px;
  padding: 0.25em 0;
  padding-left: 0.5em;
}

.create_log form div input:focus {
  outline: #f33f90 2px solid;
}

.create_log form div input[type='checkbox'] {
  width: auto;
  position: relative;
  visibility: hidden;
  width: 1em;
  height: 1em;
}

.create_log form div input[type='checkbox']::after {
  position: absolute;
  content: "Yes";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: visible;
  background-color: white;
  color: #f33f90;
  width: 2em;
  height: 2em;
  border: 1px solid #f33f90;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.create_log form div input[type='checkbox']:checked::after {
  content: '\2713';
  background-color: #f33f90;
  color: white;
}

.create_log form div textarea {
  width: 90%;
  height: 100px;
  resize: none;
  outline: #f33f90 1px solid;
  border: none;
  border-radius: 5px;
  padding-left: 0.5em;
}

.create_log form div textarea:focus {
  outline: #f33f90 2px solid;
}

.create_log form div select {
  width: 90%;
  height: 2em;
  border: 1px solid #f33f90;
  border-radius: 5px;
  font-size: 1.1em;
}

.create_log form div select option {
  text-overflow: ellipsis;
}

.create_log form div select:focus {
  border: 2px solid #f33f90;
  outline: none;
}

.create_log form div .marker_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 1em;
  height: 1em;
}

.create_log form div .marker_input input[type='checkbox'] {
  width: 3em;
}

.create_log form div .marker_input input[type='checkbox']::after {
  content: "Set";
  width: 3em;
  padding: 0 0.1em;
}

.create_log form div .marker_input input[type='checkbox']:checked::after {
  content: "Setting";
}

.create_log form div .marker_input * {
  margin-bottom: 0;
}

.create_log form div .marker_input span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 1px solid #f33f90;
  height: 2.25em;
  width: 50%;
  background-color: white;
}

.create_log form div div {
  width: 100%;
}

.new_marker {
  width: 50px;
  height: 50px;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 0px 8px black;
          box-shadow: 0px 0px 8px black;
  border-radius: 50%;
}

.trip_marker {
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 0px 8px black;
          box-shadow: 0px 0px 8px black;
  border-radius: 50%;
  background-color: #f33f90;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.login .form_container {
  width: calc(min(100%, 400px));
  padding: 1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 16px black;
          box-shadow: 0px 0px 16px black;
  border-radius: 15px;
}

.login .form_container * {
  margin-bottom: 1em;
  width: 100%;
}

.login .form_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .form_container form h2 {
  text-align: center;
  color: #f33f90;
  font-size: 1.75em;
}

.login .form_container form label {
  margin-bottom: 0;
  text-align: left;
  font-size: 1.1em;
}

.login .form_container form input {
  height: 2em;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 1em;
}

.login .form_container form p {
  margin-bottom: 0;
  text-align: center;
}

.login .form_container form p span {
  color: #f33f90;
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */