@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300&display=swap');

@mixin topLayer() {
    z-index: 1200;
    position: absolute;
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

$background: #f1f1f1;
$main-pink: #f33f90;
$marker-font: 'Permanent Marker', cursive;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

.app, .map {
    width: 100%;
    height: 100%;
}

.util_buttons {
    @include flexCenter();
    justify-content: space-around;
    @include topLayer();
    width: 300px;
    right: 2em;
    top: 0;
}

.aside_container {
    border: 2px solid pink;
    @include flexCenter();
    @include topLayer();
    top: 50%;
    right: 2em;
    transform: translate(0, -50%);
}

.contacts {
    width: 300px;
    height: 80%;
    background-color: $background;
    box-shadow: 0px 0px 16px black;
}

button {
    display: block;
    padding: 0.33em 0.66em;
    width: fit-content;
    border: none;
    background-color: $main-pink;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.2em;
    cursor: pointer;
}

.img_button {
    width: 2em;
    height: 2em;
    @include flexCenter();
    img {
        height: 100%;
        filter: grayscale(1) brightness(3);
    }
}

.log_aside {
    height: fit-content;
    @include flexCenter();
    flex-direction: column;
    width: 300px;
    box-shadow: 0px 0px 16px black;
}

.log_button_group {
    @include flexCenter();
    width: 100%;
    button {
        width: 100%;
        border-radius: 0px;
        background-color: white;
        color: $main-pink;
        border: 1px solid $main-pink;
        &:nth-of-type(1), &:nth-of-type(2) {
            border-right: none;
        }
    }
}

.log_container {
    width: 300px;
    height: 60vh;
    background-color: $background;
    overflow-y: auto;
}

.create_log {
    > button {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    form {
        @include flexCenter();
        flex-direction: column;
        width: 100%;
        height: fit-content;
        overflow-y: auto;
        padding: 1em 0;
        background-color: $background;
        div {
            width: 90%;
            text-align: center;
            padding-bottom: 1em;
            label {
                display: block;
                text-align: start;
                width: 100%;
                padding-bottom: 0.5em;
            }
            input {
                width: 90%;
                font-size: 1.1em;
                outline: $main-pink 1px solid;
                border: none;
                border-radius: 5px;
                padding: 0.25em 0;
                padding-left: 0.5em;
                &:focus {
                    outline: $main-pink 2px solid;
                }
            }
            input[type='checkbox'] {
                width: auto;
                position: relative;
                width: 1em;
                height: 1em;
                &::after {
                    position: absolute;
                    content: "Yes";
                    @include flexCenter();
                    background-color: white;
                    color: $main-pink;
                    width: 2em;
                    height: 2em;
                    border: 1px solid $main-pink;
                    border-radius: 5px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }
                &:checked {
                    &::after {
                        content: '\2713';
                        background-color: $main-pink;
                        color: white;
                    }
                }
            }
            textarea {
                width: 90%;
                height: 100px;
                resize: none;
                outline: $main-pink 1px solid;
                border: none;
                border-radius: 5px;
                padding-left: 0.5em;
                &:focus {
                    outline: $main-pink 2px solid;
                }
            }
            select {
                width: 90%;
                height: 2em;
                border: 1px solid $main-pink;
                border-radius: 5px;
                font-size: 1.1em;
                option {
                    text-overflow: ellipsis;
                }
                &:focus {
                    border: 2px solid $main-pink;
                    outline: none;
                }
            }
            .marker_input {
                @include flexCenter();
                justify-content: space-between;
                width: 90%;
                margin: auto;
                padding: 0;
                button {
                    height: 1.75em;
                }
                input[type='checkbox'] {
                    width: 3em;
                    height: 1.5em;
                    &::after {
                        content: "Set";
                        width: 3em;
                        height: 1.75em;
                        font-size: 1em;
                        padding: 0 0.1em;
                    }
                    &:checked {
                        &::after {
                            content: "Setting"
                        }
                    }
                }
                span {
                    @include flexCenter();
                    border-radius: 5px;
                    border: 1px solid $main-pink;
                    height: 2em;
                    width: 50%;
                    font-size: 1em;
                    background-color: white;
                }
            }
            div {
                width: 100%;
            }
        }
        .date_input {
            width: 90%;
            @include flexCenter();
            gap: 1em;
            margin: auto;
            padding: 0;
            button {
                height: 2em;
                font-size: 1em;
            }
        }
        .trip_input {
            label {
                padding-bottom: 1em;
            }
        }
    }
}

.view_log {
    width: 300px;
    @include flexCenter();
    flex-direction: column;
    justify-content: flex-start;
    background-color: $background;
    .view_details {
        width: 95%;
        padding-bottom: 1em;
        h5 {
            font-size: 1.1em;
            font-family: $marker-font;
        }
        p {
            padding: 0.5em;
            font-family: $marker-font;
            color: rgb(30, 30, 30);
        }
    }
 .polaroid_grid {
    @include flexCenter();
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1.5em;
    padding: 0.5em;
    width: 100%;
    .polaroid {
        height: calc( 110px + 1.75em);
        width: 110px;
        border: 3px solid white;
        border-bottom: none;
        box-sizing: content-box;
        @include flexCenter();
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 0px 4px black;
        text-decoration: none;
        cursor: pointer;
        > div {
            height: 110px;
            width: 110px;
            @include flexCenter();
            background-color: rgb(30, 30, 30);
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
        span {
            height: 1.75em;
            @include flexCenter();
            font-family: $marker-font;
            font-size: 0.9em;
            color: black;
        }
    }
 }
}


.new_marker {
    width: 50px;
    height: 50px;
    background-color: $background;
    box-shadow: 0px 0px 8px black;
    border-radius: 50%;
}

.trip_marker {
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 8px black;
    border-radius: 50%;
    background-color: $main-pink
}

.login {
    @include flexCenter();
    width: 100%;
    height: 100%;
    .form_container {
        width: calc(min(95%, 400px));
        padding: 1em;
        height: fit-content;
        @include flexCenter();
        box-shadow: 0px 0px 16px black;
        border-radius: 15px;
        * {
            margin-bottom: 1em;
            width: 100%
        }
        form {
            @include flexCenter();
            flex-direction: column;
            h2 {
                text-align: center;
                color: #f33f90;
                font-size: 1.75em;  

            }
            label {
                margin-bottom: 0;
                text-align: left;
                font-size: 1.1em;
            }
            input {
                height: 2em;
                font-size: 1.1em;
                border-radius: 5px;
                border: 1px solid gray;
                padding-left: 1em;
            }
            p {
                margin-bottom: 0;
                text-align: center;
                span {
                    color: $main-pink;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .aside_container {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .util_buttons {
        left: 50%;
        transform: translate(-50%);
    }
}